<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="pages/home/style.css">
	<script src="/socket.io/socket.io.js"></script>
	<script src="pages/home/index.js"></script>
	<title>Home</title>
</head>

<body>
	<h1>Welcome to <%- url %></h1>
	<div class="amount"><span id="amount"></span> currently connected</div>
</body>

</html>